#account-list {
    width: 100%;
    position: relative;

    #container {

        padding: 2vw;

        #account-list-header {
            border-radius: 0.8vw 0.8vw 0 0;
            background-image: linear-gradient(to top, #2c3e50 0%, #324150 100%);
            color: #F3F3F3;
            width: 60vw;
            display: flex;
            font-weight: bold;
            border-bottom: 1px solid rgba(243, 243, 243, 0.4);
            overflow: hidden;

            .element {
                display: flex;
                justify-content: center;
                padding: 1vw;
                width: 0;
                flex: 1 1 0;

                div {
                    display: flex;
                }

                .filter-input {
                    flex: 1;
                    width: 0;

                    input {
                        min-width: 0;
                    }
                }

                .hidden-filter {
                    display: none;

                    div {
                        display: none;
                    }
                }

                &:hover {
                    background:#2d4b6a;
                    -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
                    -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
                    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5);
                }
            }

            .sortable-element {
                display: flex;
                justify-content: center;
            }

            .header-icon {
                cursor: pointer;
            }
        }
    }
}
