<div id="account-list">
    <div id="container">
        <div id="account-list-header">
            <div id="site" class="element sortable-element">
                <div class="filter-input" [ngClass]="!isSiteFilterOpen ? 'hidden-filter' : ''">
                    <input type="text" placeholder="Site..." [(ngModel)]="siteFilter">
                </div>
                <div [ngClass]="isSiteFilterOpen ? 'hidden-filter' : ''">
                    <span class="header-icon" (click)="toggleSiteFilter()">
                        <fa-icon [icon]="getFilterIcon(siteFilterStatus)"></fa-icon>
                    </span>
                    <div>
                        &nbsp;&nbsp;Site&nbsp;&nbsp;
                    </div>
                    <span class="header-icon" (click)="toggleSiteSortOrder()">
                        <fa-icon [icon]="getSortIcon(siteSortOrder)" size="lg"></fa-icon>
                    </span>
                </div>
            </div>
            <div id="tag" class="element">
                <div class="filter-input" [ngClass]="!isTagFilterOpen ? 'hidden-filter' : ''">
                    <input type="text" placeholder="Tag..." [(ngModel)]="tagFilter">
                </div>
                <div [ngClass]="isTagFilterOpen ? 'hidden-filter' : ''">
                    <span class="header-icon" (click)="toggleTagFilter()">
                        <fa-icon [icon]="getFilterIcon(tagFilterStatus)"></fa-icon>
                    </span>
                    &nbsp;Tags
                </div>
            </div>
            <div id="username" class="element sortable-element">
                <div class="filter-input" [ngClass]="!isUsernameFilterOpen ? 'hidden-filter' : ''">
                    <input type="text" placeholder="Username..." [(ngModel)]="usernameFilter">
                </div>
                <div [ngClass]="isUsernameFilterOpen ? 'hidden-filter' : ''">
                    <span class="header-icon" (click)="toggleUsernameFilter()">
                        <fa-icon [icon]="getFilterIcon(usernameFilterStatus)"></fa-icon>
                    </span>
                    <div>
                        &nbsp;&nbsp;Username&nbsp;&nbsp;
                    </div>
                    <span class="header-icon" (click)="toggleUsernameSortOrder()">
                        <fa-icon [icon]="getSortIcon(usernameSortOrder)" size="lg"></fa-icon>
                    </span>
                </div>
            </div>
            <div id="password" class="element">Password</div>
            <div id="actions" class="element">Actions</div>
        </div>
        <app-account-list-element
            *ngFor="let item of displayedAccountItems | accountSearch: siteFilter: tagFilter: usernameFilter; index as i; last as isLast"
            [account]="item" [isLastElement]="isLast" [index]="i" class="list-element"
            (deleteEmitter)="deleteAccount($event)" (editEmitter)="editAccount($event)">
        </app-account-list-element>
    </div>
</div>
